*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
}

#main-header{
    background-color: green;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.container{
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

ul{
    text-decoration: none;
    list-style: none;
}

li{
    border: 1px solid gray;
}